/* pages/visitInfoDetail/visitInfoDetail.wxss */
.visit-info-detail-container {
  position: relative;
}

.visit-info-bg-container {
  height: 520rpx;
  width: 100%;
  background-image: url("https://bh-sanlin.oss-cn-shanghai.aliyuncs.com/sanlinoldstreet/6387117B-A211-460A-A44A-6F2B0961B06F.png");
  background-size: 100% 100%;
  border-top: 1rpx solid transparent;
}

.arrow-left {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90rpx;
  margin-top: 30rpx;
  margin-left: 30rpx;
}

.arrow-left-image {
  height: 26rpx;
  width: 15rpx;
}

.visit-info-detail-up-container {
  margin-top: -80rpx;
  z-index: 999;
  height: 300rpx;
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 50rpx;
  border-top-right-radius: 50rpx;
  border-top: 1rpx solid transparent;
}

.visit-info-detail-up-container-inner {
  width: 90%;
  margin: 50rpx auto 0 auto;
}

.star {
  width: 130rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.star-image {
  height: 23rpx;
  width: 23rpx;
}

.distance {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}




.img-container-img {
  height: 26rpx;
  width: 21rpx;
  margin-right: 10rpx;
}

.title {
  margin: 37rpx auto;
  color: #011340;
}

.navigate {
  color: #2f9bfe;
  position: absolute;
  right: 0;
}

.open-time {
  color: #B3B3B4;
  font-size: 24rpx;
  margin-top: 24rpx;
}

.park-intro-container {
  font-size: 30rpx;
  color: #011340;
  margin-top: 56rpx;
}

.park-intro-content {
  color: #8f98af;
  font-size: 26rpx;
  margin-top: 21rpx;
}


.swiper-container {
  min-width: 100%;
  overflow-x: scroll;
  height: 200rpx;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 26rpx;
}

.swiper-container::-webkit-scrollbar {

  display: none;
}

.swiper-box {
  flex-shrink: 0;
  height: 200rpx;
  width: 200rpx;
  border-radius: 50rpx;
  margin-right: 20rpx;
}


.swiper-box-image {
  height: 200rpx;
  width: 200rpx;
}